@use "_variables" as v
.partners
    margin-top: 80px
    padding: 64px 0 48px

    background: v.$white

    box-shadow: 0 6px 10px rgba(0,0,0,.15)

    h2
        margin-bottom: 60px

        text-align: center

        font-family: v.$heading-font
        font-size: 56px
        font-weight: 400

    &__logos
        display: flex
        align-items: center
        justify-content: center
        gap: 70px

        padding: 0 40px

        overflow: hidden

        div
            min-width: 130px

            text-align: center

            font-size: 15px
            font-weight: 500
            opacity: .65
