@use "_variables" as v
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    scroll-behavior: smooth
body
    background: v.$background
    color: v.$dark
    font-family: v.$body-font
a
    text-decoration: none
    color: inherit
button
    border: 0
    background: none
    font-family: inherit
    cursor: pointer
.container
    width: min(1280px, calc(100% - 40px))
    margin: 0 auto