@use "_variables" as v
.stats
    margin-top: 80px
    padding: 80px 76px 95px

    background: v.$white
    border-radius: 20px

    box-shadow: 0 6px 10px rgba(0,0,0,.15)

    h2
        margin-bottom: 60px

        text-align: center

        font-family: v.$heading-font
        font-size: 56px
        font-weight: 400

    &__grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 24px

.stat
    display: flex
    flex-direction: column
    align-items: center

    text-align: center

    strong
        font-size: 36px
        line-height: 1
        font-weight: 700

    span
        width: 64px
        height: 2px

        margin: 20px 0 24px

        background: v.$orange

    p
        max-width: 180px

        font-size: 20px
        line-height: 1.7

        opacity: .8
