$dark: #050C2A
$green: #086523
$orange: #F68921
$background: #F9F4EE
$white: #FFFFFF
$text: #222222

$heading-font: "Crimson Pro", serif
$body-font: "DM Sans", sans-serif

$container: 1280px
$radius: 20px
$button-radius: 6.4px

